

.main_form {
    margin: 150px auto 0 auto;
    width: fit-content;
    display: flex;
}

.main_form input {
    padding: 5px 5px 5px 5px;
    font-size: 16px;
}

.main_form button {
    padding: 0 10px 0 10px;
    outline: none;
    background-color: #FFF;
}

